.center {
  text-align: center;
}

.App-header {
  background-color: #3E3E3E;
  height: 100px;
  width: 100%;
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; 
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 99;
}

.section{
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px;
}

.side{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
}

.card {
  margin: 20px;
  padding: 10px;
  max-width: 300px;
}

.profile-picture{
  max-width: 250px;
  max-width: 250px;
  border-radius: 50%;
}

a {
  color:whitesmoke;
  text-decoration: none;
}
a:active {
  color: whitesmoke;
}
a:visited {
  color:whitesmoke;
}

ul{
  text-align: left;
}

.odd{
  background-color: #5e5e5e;
  color: white;
}

.even{
  background-color: #aaaaaa;
  color: black;
}

textarea {
  resize: none;
}

.footer {
  background-color: #202020;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; 
  font-size: calc(2vmin);
  color: white;
}